---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 81.6.1
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 1h
  values:
    cleanPrometheusOperatorObjectNames: true

    alertmanager:
      route:
        main:
          enabled: true
          hostnames:
            - "alertmanager.${CLUSTER_DOMAIN}"
          parentRefs:
            - name: internal
              namespace: kube-system
              sectionName: https
      alertmanagerSpec:
        externalUrl: "https://alertmanager.${CLUSTER_DOMAIN}"
        alertmanagerConfiguration:
          name: alertmanager
          global:
            resolveTimeout: 5m
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: democratic-csi-hostpath
              resources:
                requests:
                  storage: 1Gi

    kubeEtcd:
      service:
        selector:
          component: kube-apiserver # etcd runs on control plane nodes

    kubeProxy:
      enabled: false

    prometheus:
      route:
        main:
          enabled: true
          hostnames:
            - "prometheus.${CLUSTER_DOMAIN}"
          parentRefs:
            - name: internal
              namespace: kube-system
              sectionName: https
      prometheusSpec:
        externalUrl: "https://prometheus.${CLUSTER_DOMAIN}"
        version: v2.55.1 # override 'unsupported Prometheus version' error
        image:
          registry: mirror.gcr.io
          repository: prompp/prompp
          tag: 0.7.4
        securityContext:
          runAsNonRoot: true
          runAsUser: 64535
          runAsGroup: 64535
          fsGroup: 64535
        priorityClassName: platform-cluster-critical
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        retention: 3d
        retentionSize: 10GB
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: democratic-csi-hostpath
              resources:
                requests:
                  storage: 10G

    prometheus-node-exporter:
      fullnameOverride: node-exporter
    kube-state-metrics:
      fullnameOverride: kube-state-metrics

    grafana:
      enabled: false
