# Force LF on everything.
* text=auto eol=lf

# SOPS Differ
*.sops.yaml diff=sopsdiffer

.secrets/git-crypt/** filter=git-crypt diff=git-crypt

# Exclude meta-files from release archives
.gitignore export-ignore
.gitattributes export-ignore
.editorconfig export-ignore
