---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komf
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: sndxr/komf
              tag: 1.7.1@sha256:4a6971a76abc30869f6d0555a7328ff8cd879f3016a7378395df331c1245cbb2
            env:
              TZ: ${CLUSTER_TZ}
              KOMF_KOMGA_BASE_URI: http://komga.media.svc.cluster.local
              KOMF_LOG_LEVEL: INFO
              KOMF_SERVER_PORT: &port 80
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        supplementalGroups: [65536]
        seccompProfile: { type: RuntimeDefault }
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      application-config:
        type: secret
        name: komf-secret
        globalMounts:
          - path: /config/application.yml
            subPath: application.yml
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            app:
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
    service:
      app:
        ports:
          http:
            port: *port
