---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app netbird-operator
spec:
  chart:
    spec:
      chart: kubernetes-operator
      version: 0.1.15
      sourceRef:
        kind: HelmRepository
        name: netbird-helms
  interval: 1h
  values:
    managementURL: "https://netbird.${CLUSTER_DOMAIN}"

    ingress:
      enabled: true
      kubernetesAPI:
        enabled: true
        groups:
          - cluster
        policies:
          - cluster
        customKubectlImage: heyvaldemar/aws-kubectl:latest
      router:
        enabled: true
        replicas: 1
      policies:
        cluster:
          name: Homelab <-> Cluster Allow All
          description: Allow connections between peers in the homelab group and cluster routing peers
          sourceGroups:
            - homelab
          ports: []
          bidirectional: true

    cluster:
      name: cluster

    netbirdAPI:
      keyFromSecret:
        name: netbird-agent-secret
        key: NB_API_KEY

    routingClientImage: netbirdio/netbird:0.63.0-rootless # renovate: docker=netbirdio/netbird

  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: NBPolicy
              name: cluster
            patch: |
              - op: add
                path: /spec/ports
                value:
                  - 80
                  - 443
                  - 445
                  - 1883
                  - 8080
                  - 8883
