---
version: v1alpha1
machine:
  type: controlplane
  install:
    diskSelector:
      model: Micron MTFDKCD256TFK
    wipe: true
  nodeLabels:
    topology.kubernetes.io/zone: sdm

---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: sakuya
