---
version: v1alpha1
machine:
  type: controlplane
  install:
    diskSelector:
      model: SAMSUNG MZALQ256HAJD-000L1
    wipe: true
  nodeLabels:
    topology.kubernetes.io/zone: sdm

---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: remilia
