---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
version: v1alpha1
machine:
  type: controlplane
  nodeLabels:
    topology.kubernetes.io/zone: sdm

---
# yaml-language-server: $schema=https://schemas.ajgon.casa/other/talos.config.json
apiVersion: v1alpha1
kind: HostnameConfig
hostname: sakuya

---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.model == "Phison 1TB ESR01TBTCCZ-27J-2MS" # && !system_disk
  minSize: 800GB
