---
version: v1alpha1
machine:
  type: controlplane
  # install:
  #   diskSelector:
  #     model: Micron MTFDKCD256TFK
  #   wipe: true
  nodeLabels:
    topology.kubernetes.io/zone: sdm

---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: remilia

# ---
# apiVersion: v1alpha1
# kind: LinkAliasConfig
# name: remilia-sakuya
# selector:
#   match: link.driver == "thunderbolt-net" && link.bus_path == "1-1.0"

# ---
# apiVersion: v1alpha1
# kind: LinkConfig
# name: remilia-sakuya
# up: true
# mtu: 65520
# addresses:
#   - address: 169.254.90.110/32
# routes:
#   - destination: 169.254.90.100/32
#     metric: 2048

# ---
# apiVersion: v1alpha1
# kind: LinkAliasConfig
# name: remilia-flandre
# selector:
#   match: link.driver == "thunderbolt-net" && link.bus_path == "0-1.0"

# ---
# apiVersion: v1alpha1
# kind: LinkConfig
# name: remilia-flandre
# up: true
# mtu: 65520
# addresses:
#   - address: 169.254.90.110/32
# routes:
#   - destination: 169.254.90.120/32
#     metric: 2048
