---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app miniflux
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/miniflux/miniflux
              tag: 2.2.17-distroless@sha256:4d638a4d20f7c575a5a2003707373a2c45d2e68b9b6db54b28d96d343819fee8
            env:
              BASE_URL: "https://{{ .Release.Name }}.${CLUSTER_DOMAIN}"
              LOG_DATE_TIME: "1"
              POLLING_SCHEDULER: entry_frequency
              POLLING_FREQUENCY: "15"
              PORT: &port 80
              OAUTH2_OIDC_DISCOVERY_ENDPOINT: "https://authentik.${CLUSTER_DOMAIN}/application/o/miniflux/"
              OAUTH2_OIDC_PROVIDER_NAME: Authentik
              OAUTH2_PROVIDER: oidc
              OAUTH2_REDIRECT_URL: "https://miniflux.${CLUSTER_DOMAIN}/oauth2/oidc/callback"
              OAUTH2_USER_CREATION: "1"
              TZ: ${CLUSTER_TZ}
              RUN_MIGRATIONS: "1"
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: pg-miniflux-app
                    key: uri
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthcheck
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        seccompProfile: { type: RuntimeDefault }
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${CLUSTER_DOMAIN}"
        parentRefs:
          - { name: external, namespace: kube-system }
          - { name: internal, namespace: kube-system }
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    service:
      app:
        ports:
          http:
            port: *port
