---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: headlamp
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.40.0
  url: oci://ghcr.io/home-operations/charts-mirror/headlamp

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  chartRef:
    kind: OCIRepository
    name: headlamp
  interval: 1h
  values:
    config:
      watchPlugins: true
      oidc:
        secret:
          create: false
        externalSecret:
          enabled: true
          name: headlamp-oidc

    httpRoute:
      enabled: true
      parentRefs:
        - { name: internal, namespace: kube-system }
      hostnames:
        - "k8s.${CLUSTER_DOMAIN}"

    pluginsManager:
      enabled: true
      configContent: |
        plugins:
          - name: cert-manager
            source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_cert-manager
            version: 0.1.0
          - name: flux
            source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_flux
            version: 0.5.0
          - name: kompose
            source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_kompose
            version: 0.1.0-beta-1
          - name: ai-assistant
            source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_ai_assistant
            version: 0.1.0-alpha
