---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rsshub
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      rsshub:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/diygod/rsshub
              tag: latest@sha256:3c322c893a64e1d59eefa90302e8d3d01b8923b3c6da508c7df36158e0894202
            env:
              NODE_ENV: production
              CACHE_TYPE: redis
              REDIS_URL: "redis://rsshub-dragonfly.rss.svc.cluster.local:6379"
              PORT: &port 80
              LISTEN_INADDR_ANY: 1
              LOG_LEVEL: warning
              NO_LOGFILES: true
              SENTRY: false
              PIXIV_IMG_PROXY: "https://i.yuki.sh"
              HOTLINK_TEMPLATE: "https://rss-img-relay.miflab.workers.dev/$${href_ue}"
              TZ: ${CLUSTER_TZ}
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        seccompProfile: { type: RuntimeDefault }
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${CLUSTER_DOMAIN}"
        parentRefs:
          - { name: external, namespace: kube-system }
          - { name: internal, namespace: kube-system }
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    service:
      app:
        ports:
          http:
            port: *port
