---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: victoria-logs
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.11.26
  url: oci://ghcr.io/victoriametrics/helm-charts/victoria-logs-single

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app victoria-logs
spec:
  chartRef:
    kind: OCIRepository
    name: victoria-logs
  interval: 1h
  values:
    fullnameOverride: *app
    server:
      retentionPeriod: 14d
      persistentVolume:
        enabled: true
        storageClassName: democratic-csi-hostpath
        size: 4Gi

      serviceMonitor:
        enabled: true

      resources:
        requests:
          cpu: 10m
          memory: 64Mi
        limits:
          memory: 512Mi

      route:
        enabled: true
        hostnames:
          - "logs.${CLUSTER_DOMAIN}"
        parentRefs:
          - { name: internal, namespace: kube-system }
        extraRules:
          - filters:
              - type: RequestRedirect
                requestRedirect:
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /select/vmui/
                  statusCode: 302
            matches:
              - path:
                  type: Exact
                  value: /

    dashboards:
      enabled: true
      annotations:
        grafana_dashboard: "1"
