---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10467@sha256:fa62165df48d04e9a418805951e903f831dec0e0601f4dc4245f9948d7fd719b
            env:
              PLEX_ADVERTISE_URL: "https://{{ .Release.Name }}.${CLUSTER_DOMAIN}:443,http://${CLUSTER_LB_PLEX}:32400"
              PLEX_NO_AUTH_NETWORKS: 192.168.1.0/24
              TZ: ${CLUSTER_TZ}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  periodSeconds: 10
                  failureThreshold: 30
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
                gpu.intel.com/i915: 1
              limits:
                memory: 2Gi
                gpu.intel.com/i915: 1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [65537]
        seccompProfile: { type: RuntimeDefault }
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: "/config/Library/Application Support/Plex Media Server/Cache"
      media:
        type: nfs
        server: ${NAS_ADDRESS}
        path: /mnt/data_pool/data
        globalMounts:
          - readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          plex:
            app:
              - path: "/config/Library/Application Support/Plex Media Server/Logs"
                subPath: logs
              - path: /transcode
                subPath: transcode
              - path: /tmp
                subPath: tmp
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            url: "https://{{ .Release.Name }}.${CLUSTER_DOMAIN}/identity"
        hostnames:
          - "{{ .Release.Name }}.${CLUSTER_DOMAIN}"
        parentRefs:
          - { name: external, namespace: kube-system }
          - { name: internal, namespace: kube-system }
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    service:
      app:
        forceRename: "{{ .Release.Name }}"
        primary: true
        ports:
          http:
            port: *port
      direct:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${CLUSTER_LB_PLEX}
        externalTrafficPolicy: Local
        ports:
          http:
            port: *port
