---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: keda
spec:
  interval: 15m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 2.18.3
  url: oci://ghcr.io/home-operations/charts-mirror/keda

---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keda
spec:
  chartRef:
    kind: OCIRepository
    name: keda
  interval: 1h
  values:
    enableServiceLinks: false
    resources:
      operator:
        requests:
          cpu: 10m
          memory: 128Mi
        limits:
          memory: 256Mi
      metricServer:
        requests:
          cpu: 10m
          memory: 128Mi
        limits:
          memory: 128Mi
      webhooks:
        requests:
          cpu: 10m
          memory: 128Mi
        limits:
          memory: 128Mi
