---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: navidrome-cache
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 2Gi
  storageClassName: democratic-csi-hostpath
