---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app sillytavern
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/sillytavern/sillytavern
              tag: staging@sha256:c9e64a04c669d473946e67c151b638541c342a58b2883f4a50031c0c089687da
            env:
              NODE_ENV: production
              TZ: ${CLUSTER_TZ}
              SILLYTAVERN_PORT: &port 80
              SILLYTAVERN_WHITELIST: '["10.244.0.0/16", "192.168.1.0/24"]'
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup:
                enabled: true
                spec:
                  periodSeconds: 10
                  failureThreshold: 30
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /home/node/app/config
            subPath: config
          - path: /home/node/app/data
            subPath: data
          - path: /home/node/app/plugins
            subPath: plugins
          - path: /home/node/app/public/scripts/extensions/third-party
            subPath: extensions
      tmpfs:
        type: emptyDir
        medium: Memory
        sizeLimit: 64Mi
        advancedMounts:
          *app :
            app:
              - path: /home/node/app/backups
                subPath: backups
              - path: /home/node/app/data/default-user/backups
                subPath: root-user-backups
              - path: /tmp
                subPath: tmp
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${CLUSTER_DOMAIN}"
          - "st.${CLUSTER_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    service:
      app:
        ports:
          http:
            port: *port
