---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.9@sha256:1d99ede700ffdf7aa44899b5fee29c8c279f175769b6cb295e91e9f15772728e
            env:
              # Application
              PAPERLESS_PORT: &port 80
              PAPERLESS_TIME_ZONE: ${CLUSTER_TZ}
              PAPERLESS_DATE_ORDER: MDY
              PAPERLESS_URL: "https://{{ .Release.Name }}.${CLUSTER_DOMAIN}"
              # Encoding
              # WARNING: for German / Russian PDFs it is required to set "PDF" renderer instead of "PDF/A" in paperless-ngx settings
              # See: https://github.com/ocrmypdf/OCRmyPDF/issues/1297
              LANG: C.UTF-8
              LC_ALL: C.UTF-8
              # OCR
              PAPERLESS_OCR_LANGUAGES: "rus eng"
              PAPERLESS_OCR_LANGUAGE: rus
              PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
              # Barcode Recognition
              PAPERLESS_CONSUMER_ENABLE_BARCODES: "true"
              PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE: "true"
              PAPERLESS_CONSUMER_BARCODE_SCANNER: "ZXING"
              # Directories
              PAPERLESS_DATA_DIR: "/usr/src/paperless/data"
              PAPERLESS_MEDIA_ROOT: "/data/media"
              PAPERLESS_EXPORT_DIR: "/data/export"
              PAPERLESS_CONSUMPTION_DIR: "/data/consume"
              # Folder importer
              PAPERLESS_CONSUMER_IGNORE_PATTERNS: '[".DS_STORE/*", "._*", ".stfolder/*", "@eaDir/*"]'
              PAPERLESS_CONSUMER_POLLING: 60
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              # Redis
              PAPERLESS_REDIS: "redis://paperless-dragonfly.personal.svc.cluster.local:6379"
              # Tika/Gotenberg
              # PAPERLESS_TIKA_ENABLED: "true"
              # PAPERLESS_TIKA_ENDPOINT: "http://tika.tools.svc.cluster.local:80"
              # PAPERLESS_TIKA_GOTENBERG_ENDPOINT: "http://gotenberg.tools.svc.cluster.local:3000"
              # User permissions
              USERMAP_UID: 568
              USERMAP_GID: 568
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 600Mi
              limits:
                memory: 3Gi
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /usr/src/paperless/data
      data:
        type: nfs
        server: ${NAS_ADDRESS}
        path: /mnt/data_pool/documents
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${CLUSTER_DOMAIN}"
        parentRefs:
          - { name: internal, namespace: kube-system }
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    service:
      app:
        ports:
          http:
            port: *port
